In [2]:
!pip install folium

Defaulting to user installation because normal site-packages is not writeable
Collecting folium
  Downloading folium-0.13.0-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 KB 869.8 kB/s eta 0:00:001m745.4 kB/s eta 0:00:01
Requirement already satisfied: jinja2>=2.9 in /home/calvinhathcock/.local/lib/python3.10/site-packages (from folium) (3.1.2)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from folium) (2.25.1)
Requirement already satisfied: numpy in /home/calvinhathcock/.local/lib/python3.10/site-packages (from folium) (1.23.2)
Collecting branca>=0.3.0
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /home/calvinhathcock/.local/lib/python3.10/site-packages (from jinja2>=2.9->folium) (2.1.1)
Installing collected packages: branca, folium
Successfully installed branca-0.6.0 folium-0.13.0

In [4]:
import folium
from folium import plugins
import pandas as pd
from folium.plugins import HeatMap
import folium.plugins as plugins
from folium.plugins import HeatMapWithTime
from folium.plugins import Search

import os

In [6]:
os.chdir('/home/calvinhathcock/Documents/College/UNCC/Fall 2022/ITSC 4155/Project/Frontend/itsc4155-capstone-cyberninjas.github.io')

In [7]:
os.getcwd()

'/home/calvinhathcock/Documents/College/UNCC/Fall 2022/ITSC 4155/Project/Frontend/itsc4155-capstone-cyberninjas.github.io'

# Following the existing code

In [8]:
base_df = pd.read_csv("csv/SampleLocations.csv")
base_df.head()

        Timestamp       Name   Latitude  Longitude  Count
0  9/28/2020 0:00     Atkins  35.305893 -80.732145     76
1  9/28/2020 1:00     Burson  35.307535 -80.732366     42
2  9/28/2020 2:00       Cato  35.305505 -80.728730      8
3  9/28/2020 3:00      Denny  35.305464 -80.729844     12
4  9/28/2020 4:00  Belk Hall  35.310418 -80.734625     20

In [11]:
base_df.Timestamp = pd.to_datetime(base_df.Timestamp)

In [13]:
base_df.dtypes

Timestamp    datetime64[ns]
Name                 object
Latitude            float64
Longitude           float64
Count                 int64
dtype: object

In [14]:
# get time_index list
time_index = list(base_df['Timestamp'].sort_values().astype('str').unique())
time_index

['2020-09-28 00:00:00',
 '2020-09-28 01:00:00',
 '2020-09-28 02:00:00',
 '2020-09-28 03:00:00',
 '2020-09-28 04:00:00',
 '2020-09-28 05:00:00',
 '2020-09-28 06:00:00',
 '2020-09-28 07:00:00',
 '2020-09-28 08:00:00',
 '2020-09-28 09:00:00',
 '2020-09-28 10:00:00',
 '2020-09-28 11:00:00',
 '2020-09-28 12:00:00']

In [15]:
# sort values
base_df['Timestamp'] = base_df['Timestamp'].sort_values(ascending=True)

In [17]:
data = []

In [24]:
for i in base_df.groupby('Timestamp'):
    print(i)
    break

(Timestamp('2020-09-28 00:00:00'),    Timestamp    Name   Latitude  Longitude  Count
0 2020-09-28  Atkins  35.305893 -80.732145     76)

In [ ]:
for _, d in base_df.groupby('Timestamp'):
    data.append([[row['Latitude'], row['Longitude'], row['Count']]
                for _, row in d.iterrows()])